* {
  padding: 0;
  margin: 0;
}

body {
  /* color: white; */
  background-color: #222;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
}

.crud-operation-school-system {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0px;
  /* background-color: #222; */

  /* text-transform: uppercase; */
  /* height: 100vh; */
  background-color: black;
}

input {
  width: 100%;
  /* height: 30px; */
  padding: 5px 0px;
  outline: none;
  border: none;
  margin: 5px 0;
  background-color: #111;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  padding: 20px;

  margin: 25px;
}
.date {
  margin-bottom: 5px;
}

#submit {
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  height: 80px;
}
select {
  width: 100%;
  /* height: 30px; */
  padding: 5px 0px;
  outline: none;
  border: none;
  margin: 5px 0;
  background-color: #111;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  padding: 20px;

  margin: 25px;
}

input:hover {
  transform: scale(1.1);
  background: black;
}
button {
  width: 100%;
  background-color: red;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}

button:hover {
  background-color: rgba(177, 8, 8, 0.76);
  letter-spacing: 1px;
  color: white;
}

input::placeholder {
  text-transform: uppercase;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}
td,
th {
  padding: 5px 0px;
<<<<<<< HEAD
  color: red;
=======
   
>>>>>>> f091d233955dbea847eeab494fd1c81133693845
}

.dates {
  color: red;
}

#card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: greenyellow; */
  gap: 15px;
}

#card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: black;
  margin: 10px;
  /* border: 2px solid red; */
}
#card div {
  border: 2px solid red;
  width: auto;
  padding: 5px;
  color: red;
}

#card > div:nth-last-of-type(odd) {
  color: red;

  border-radius: 20px;
}

#card > div:nth-last-of-type(even) {
  color: red;

  border-radius: 20px;
}

#card > div > div {
  color: red;
  border: none;
  border-bottom: 2px solid red;
}
#card > div > div:last-child {
  color: red;
  border: none;
}

@media (max-width: 820px) {
  input {
    display: flex;
  }
  /* table tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  } */

  table > thead {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table td {
    padding-left: 60%;

    position: relative;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    width: 40%;
    left: 0;
    font-weight: bold;
    text-align: left;
    margin-left: 45px;
  }
  #card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 10px;
  }
  #card div {
    border: 2px solid red;
    width: 100%;
    padding: 5px;
    color: red;
  }

  #card > div:nth-last-of-type(odd) {
    color: red;

    border-radius: 20px;
  }

  #card > div:nth-last-of-type(even) {
    color: red;

    border-radius: 20px;
  }

  #card > div > div {
    color: red;
    border: none;
    border-bottom: 2px solid red;
  }
  #card > div > div:last-child {
    color: red;
    border: none;
  }
}
